#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  background-color: #81829f;
}

#contact .category {
  padding: 30px;
  height: 1.3em;
  overflow-y: hidden;
  margin-bottom: 30px;
}

#contact .category h2 {
  margin: 0;
}

#contact .link {
  height: 1.5em;
  overflow-y: hidden;
}

#contact ul li {
  padding-right: 50px;
}

#contact ul li:hover {
  text-decoration: underline;
}

#contact ul li:last-child {
  padding-right: 0;
}

@keyframes grow {
  from {
    transform: translateY(1.5em);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes grow-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1.5em);
  }
}

/* Footer */
footer p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 200;
  margin: 10px;
  background-color: #81829f;
  margin: 0;
  padding: 10px;
}
